<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{{page_title}}</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles/mainLayout.css' %}"/>
</head>
<body>
    <p>Home page for weblog</p>
</body>
</html>